# Process data

In [1]:
data_root_dir = '/run/media/hanshan/data2/Data'

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
has_path = os.path.exists

In [4]:
df_info = pd.read_csv('/run/media/hanshan/data2/Data/DataSets/leaf-classification/train.csv')
df_info.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [9]:
labels = pd.unique(df_info['species'])

In [22]:
id_to_label = dict()
label_to_id = dict()
for i, label in enumerate(labels):
    id_to_label[i] = label
    label_to_id[label] = i

In [25]:
items = []
for i in range(len(df_info)):
    row = df_info.iloc[i, [0, 1]]
    items.append(['DataSets/leaf-classification/images/{}.jpg'.format(row['id']), label_to_id[row['species']]])

In [27]:
df = pd.DataFrame(items, columns=['img', 'label'])

In [28]:
df.head()

                                         img  label
0  DataSets/leaf-classification/images/1.jpg      0
1  DataSets/leaf-classification/images/2.jpg      1
2  DataSets/leaf-classification/images/3.jpg      2
3  DataSets/leaf-classification/images/5.jpg      3
4  DataSets/leaf-classification/images/6.jpg      4

In [29]:
pd.unique(df['label'])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

In [31]:
df.to_csv('/run/media/hanshan/data2/Data/DataSets/leaf-classification/info.csv', index=False)